.topbar {
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #e9e9e9;
  height: 50px;
  z-index: 2;
}

.topbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topbar a:hover {
  background-color: #ddd;
  color: black;
}

.topbar a.active {
  background-color: #2196f3;
  color: white;
}
